# Node modules
node_modules
package-lock.json
yarn.lock

# CVS and environment variables
.env.!example
.env
.git

# The development file
.eslintcache
.nyc_output
dist
docs
coverage
test

# Editor files
.DS_Store
.idea
.pnp
.pnp.js
.vscode
